*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  color: hsl(220 40% 35%);
}

body {
  padding: 2rem;
  background-color: hsl(220 20% 95%);
}

h2 {
  margin-bottom: 1rem;
}

.avatars {
  --avatar-count: 10;
  --avatar-size: 75px;
  --border-size: 5px;

  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  grid-template-columns: repeat(var(--avatar-count), var(--column-size));
  transition: 500ms;
  transition-delay: 500ms;
}

.avatars:hover {
  --column-size: calc(var(--avatar-size) * 1.5);
  transition-delay: 0ms;
}

.avatar {
  width: var(--avatar-size);
  border-radius: 100vw;
  border: var(--border-size) solid white;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

  transition: scale 500ms;
}

.avatar:hover {
  scale: 2;
  z-index: 2;
}

@supports selector(:has(+ *)) {
  .avatar:hover + .avatar,
  .avatar:has(+ .avatar:hover) {
    scale: 1.5;
  }
}

@media (max-width: 768px) {  
  .avatar:nth-child(n + 7) {
    display: none;
  }
}

@media (max-width: 425px) {
  .avatars {
    --avatar-size: 45px;
    --border-size: 2px;
  }
  
  .avatar:nth-child(n + 6) {
    display: none;
  }
  
  h2 {
    font-size: 1rem;
  }
}   

@media (max-width: 375px) {
  .avatars {
    --avatar-size: 40px;
    --border-size: 2px;
  }
  
  .avatar:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: 320px) {  
  .avatar:nth-child(n + 5) {
    display: none;
  }
}
